<form action="/controller/update" method="POST" enctype="multipart/form-data">
    <input type="text" value="<%= data[0].first_name %>" name="first_name" /><br><br>
    <input type="text" value="<%= data[0].last_name %>" name="last_name" /><br><br>
    <input type="text" value="<%= data[0].father_name %>" name="father_name" /><br><br>
    <input type="text" value="<%= data[0].branch %>" name="branch" /><br><br>
    <input type="text" value="<%= data[0].username %>" name="username" /><br><br>
    <input type="text" value="<%= data[0].password %>" name="password" /><br><br>
    <img src="/../uploads/<%= data[0].image %>" width="100px" height="100px" /><input type="file" name="file" />
    <input type="submit" value="update">
</form>